.login{
    display: block;
    margin: auto;
    padding :20px;
    display: flex;
    border: 2px solid rgb(75, 74, 74);
    justify-content: space-between;
    
}

.header{
    flex : 1;
    text-align: center;
}

.login-form{
    margin:auto;
    color: black;
    text-align : left;
    flex:1;
}

.label{
    font-size: 1em;
}

input{
    width : 175px;
    height: 30px;
    font-size: 1em;
    margin :20px;
}

.btn{
    width :150px;
    height : 30px;
    font: 400 18px Arial;
    background-color: green;
    border : none;
    color : white;
    border-radius: 10px;
    cursor: pointer;
}

.btn[disabled]{
    background-color: rgb(208, 219, 208);
    color : rgb(93, 93, 93);
    cursor: not-allowed;
}

.error{
    color : red;
}