<p class="edit">Edit Staff Detail</p>
<ng-container *ngIf="staff">
    <div class="form">
        <div class="select-type">
            <div class="select-drop" id="select-drop">
                <label class="type-label">Select staff type</label>
                <select class="select-type" name="type" id="select-type">
                    <option value="Admin" [selected]="staff.type=='Admin'? true : false">Admin</option>
                    <option value="Teacher" [selected]="staff.type=='Teacher'? true : false">Teacher</option>
                    <option value="Support" [selected]="staff.type=='Support'? true : false">Support</option>
                </select>
            </div>
        </div>
        <form id="form" #form="ngForm" (ngSubmit)="EditData(form)">
            <div class="form-section">
                <div class="add-form-subsection">
                    <label for="">Username:</label>
                    <input id="username" class="add-form-input" type="text" name="name" required
                        [(ngModel)]="staff.userName" #name="ngModel">
                    <div [hidden]="ValidateField(name)" class="alert-danger">
                        {{nameTxt}}
                    </div>
                </div>
                <div class="add-form-subsection">
                    <label for="">Password:</label>
                    <input id="password" class="add-form-input" type="text" required name="password"
                        [(ngModel)]="staff.password" #pass="ngModel">
                        <div [hidden]="ValidateField(pass)" class="alert-danger">
                            {{passTxt}}
                        </div>
                </div>
            </div>
            <div class="form-section">
                <div class="add-form-subsection">
                    <label for="">Date of Joining:</label>
                    <input id="dateofjoin" class="add-form-input" type="date" required
                        name="date" [(ngModel)]="staff.dateOfJoining" #date="ngModel" value={{date}}>
                        <div [hidden]="ValidateField(date)" class="alert-danger">
                            {{dateTxt}}
                        </div>
                </div>
                <div class="add-form-subsection">
                    <label for="">Experience:</label>
                    <input id="experience" class="add-form-input" type="number" required name="experience"
                        [(ngModel)]="staff.experience" #exp="ngModel" min=0>
                        <div [hidden]="ValidateField(exp)" class="alert-danger">
                            {{expTxt}}
                        </div>
                </div>
            </div>
            <div class="form-section">
                <div class="add-form-subsection">
                    <label for="">Subject:</label>
                    <input id="subject" class="add-form-input" type="text" required name="subject"
                        [(ngModel)]="staff.subject" #sub="ngModel">
                        <div [hidden]="sub.valid || sub.pristine" class="alert-danger">
                            Subject is required
                        </div>
                </div>
                <div class="add-form-subsection">
                    <label for="">Phone Number:</label>
                    <input id="phone" class="add-form-input" type="number" required name="phone"
                        [(ngModel)]="staff.phoneNumber" #phn="ngModel">
                        <div [hidden]="ValidateField(phn)" class="alert-danger">
                            {{phnTxt}}
                        </div>
                </div>
            </div>
            <div class="form-section">
                <div class="add-form-subsection">
                    <button type="submit" class="add-form-btn" [disabled]="!form.form.valid">Update Data</button>
                </div>
            </div>
        </form>
    </div>
</ng-container>