<p class="edit">Add Staff Detail</p>
<div class="form">
    <div class="select-type">
        <div class="select-drop" id="select-drop">
            <label class="type-label">Select staff type</label>
            <select class="select-type" name="type" id="select-type" (change)="TypeUpdate($event)" [disabled]="dataAdded">
                <!-- <option value="none" selected disabled hidden>Select Type</option> -->
                <option value="Admin">Admin</option>
                <option value="Teacher" selected>Teacher</option>
                <option value="Support">Support</option>
            </select>
        </div>
    </div>
    <form id="form" #form="ngForm">
        <div class="form-section">
            <div class="add-form-subsection">
                <label for="">Username:</label>
                <input id="username" class="add-form-input" type="text" name="name" required [(ngModel)]="userName"
                    #name="ngModel" [disabled]="dataAdded">
                <div [hidden]="ValidateField(name)" class="alert-danger">
                    {{nameTxt}}
                </div>
            </div>
            <div class="add-form-subsection">
                <label for="">Password:</label>
                <input id="password" class="add-form-input" type="text" required name="password" [(ngModel)]="password"
                    #pass="ngModel" [disabled]="dataAdded">
                <div [hidden]="ValidateField(pass)" class="alert-danger">
                    {{passTxt}}
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="add-form-subsection">
                <label for="">Date of Joining:</label>
                <input id="dateofjoin" class="add-form-input" type="date" required name="date"
                    [(ngModel)]="dateOfJoining" #date="ngModel" value={{dateOfJoining}} [disabled]="dataAdded">
                <div [hidden]="ValidateField(date)" class="alert-danger">
                    {{dateTxt}}
                </div>
            </div>
            <div class="add-form-subsection">
                <label for="">Experience:</label>
                <input id="experience" class="add-form-input" type="number" required name="experience"
                    [(ngModel)]="experience" #exp="ngModel" min=0 [disabled]="dataAdded">
                <div [hidden]="ValidateField(exp)" class="alert-danger">
                    {{expTxt}}
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="add-form-subsection">
                <label for="">Subject:</label>
                <input id="subject" class="add-form-input" type="text" required name="subject" [(ngModel)]="subject"
                    #sub="ngModel" [disabled]="dataAdded" #subj="ngModel">
            </div>
            <div class="add-form-subsection">
                <label for="">Phone Number:</label>
                <input id="phone" class="add-form-input" type="number" required name="phone" [(ngModel)]="phone"
                    #phn="ngModel" [disabled]="dataAdded">
                <div [hidden]="ValidateField(phn)" class="alert-danger">
                    {{phnTxt}}
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="add-form-subsection">
                <button type="submit" class="add-form-btn" [disabled]="!form.form.valid || dataAdded" (click)="AddData(form)">Add
                    Staff</button>
                <button class="add-form-btn" (click)="Reset(form)">Reset</button>
            </div>
        </div>
    </form>
</div>

<div class="data-section" *ngIf="dataAdded">
    <table id="staff">
        <tr>
            <th class="head">UserName </th>
            <th class="head">Password</th>
            <th class="head">DateofJoining</th>
            <th class="head">Experience</th>
            <th class="head">Subject</th>
            <th class="head">Phone</th>
            <th class="head">Type</th>
        </tr>
        <tr>
            <td class="t-data">{{userName}}</td>
            <td class="t-data">{{password}}</td>
            <td class="t-data">{{dateOfJoining}}</td>
            <td class="t-data">{{experience}}</td>
            <td class="t-data">{{subject}}</td>
            <td class="t-data">{{phone}}</td>
            <td class="t-data">{{type}}</td>
        </tr>
    </table>
</div>