
<table class="staffs-table-table">
    <th class="table-head">Id</th>
    <th class="table-head">User Name </th>
    <th class="table-head">Password</th>
    <th class="table-head">Date Of Joining</th>
    <th class="table-head">Experience</th>
    <th class="table-head">Subject</th>
    <th class="table-head">Phone Number</th>
    <tbody id="table-body"> 
        <tr *ngFor="let item of (staffService.obs | async)">
            <td>{{item.id}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.password}}</td>
            <td>{{item.dateOfJoining}}</td>
            <td>{{item.experience}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.type}}</td>
        </tr>
    </tbody>
</table>