.list-staff-section{
    height: 100%;
}

.list-staff-table{
    padding: 50px;
    text-align: center;
    margin:auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin :auto;
}

.staffs-table {
    border: 2px solid rgb(189, 187, 187);
    border-radius: 5px;
}

.staffs-table tr:hover {
    background-color: #ddd;
}

.staffs-table td, .staffs-table th{
    border: 1px solid rgb(170, 168, 168);
}

.table-head {
    font-size: 1.3rem;
    font-family: 'gilroy-bold';
    margin: 0 5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 50px;
}


.tr-class:hover {
    background-color: rgba(255, 255, 255, 0.616);
    color: black
}

td{
    padding : 8px;  
}

.td-class {
    text-align: center;
    margin: 0px;
    font-size: 1.2rem;
}

.tr-class-edit {
    color: black;
    background-color: rgba(248, 219, 164, 0.616);
}

.dropbtn {
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-family: 'gilroy-bold';
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


#prev, #next {
    background-color: rgb(0, 140, 255);
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    width: 20%;
    height: 40px;   
}

.btn{
    margin: 10px;
}

button:disabled, button[disabled]{
    background-color: rgb(180, 214, 204) !important;
    color : rgba(163, 163, 163, 0.753) !important;
}

.filter-btn{
    font-size: 1.3rem;
    font-family: 'gilroy-bold';
    font-weight: bold;
    margin: 5px;
}