.header{
    color :inherit;
}

.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.842);
    color : white;
}

.brand-name{
    color:inherit;
    font-size: 1.5em;
    padding : 1em;
    cursor: pointer;
}

.brand-name:hover{
    color : grey;
}

.navbar-link{
    text-decoration: none;
    color:inherit;   
}

.navbar-link-add{
    text-decoration: none;
    color:inherit; 
    font-size: 1.2em;
    margin : 1em;
    padding :0.4em;
}

.navbar-link-add:hover{
    background-color: grey;
    color: white;
    transform: scale(1.03);
    
    border-radius: 10px;
}
