/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html {
    padding: 0;
    margin : 0;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0px;
    padding : 0px;
    color: white;
    background-color: rgba(2, 17, 14);
    font-size: 1.2rem;
}